
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#cat-btn-wrap {
  width: 512px;
  height: 214px;
  position: relative;
  margin: 0 auto;
  top:200px;
  overflow: none;
  cursor:pointer;
}

.cat {
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
  -o-transform: scale(0) translate3d(0, 0, 0);
  -moz-transform: scale(0) translate3d(0, 0, 0);
  transform: scale(0) translate3d(0, 0, 0);
}

.circle {
  width: 199px;
  height: 199px;
  border-radius: 50%;
  border: black 5px solid;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 8;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
  -o-transform: scale(0) translate3d(0, 0, 0);
  -moz-transform: scale(0) translate3d(0, 0, 0);
  transform: scale(0) translate3d(0, 0, 0);
}

.concentric {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  border: black 5px solid;
  background: #8b99e9;
  margin: 8px auto;
}

.rectangle-wrap {
  width: 340px;
  height: 100%;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.rectangle {
  width: 328px;
  height: 130px;
  webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  border: 5px solid #000000;
  background-color: #FFFFFF;
  position: absolute;
  top: 15%;
  left: -340px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 39px;
  line-height: 80px;
  text-indent: 110px;
}

.arrow-wrap {
  width:80px;
  height:80px;
  position: absolute;
  top: 300px;
  right: -20px;
  z-index: 20;
  opacity:0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
  -o-transform: scale(0) translate3d(0, 0, 0);
  -moz-transform: scale(0) translate3d(0, 0, 0);
  transform: scale(0) translate3d(0, 0, 0);
}



#rerun{
    position:absolute;
    bottom:100px;
    left:50%;
    cursor: 
    pointer;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */


.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
